<ul class="nav nav-tabs">
    <li class="nav-item">
        <p id="searchNavID" class="nav-link active" aria-current="page" {{on 'click' this.changeToSearch}}>
            Search</p>
    </li>
    <li class="nav-item">
        <p id="ruleNavID" class="nav-link" aria-current="page" {{on 'click' this.changeToRules}}>Rules</p>
    </li>
</ul>

<div id="search">
    <div id="home">
        <br>
        <h1>Search</h1>
        <i class="fa fa-check-square"></i>

        <input type="file" name="file" class="btn btn-light" id="fileName" {{on 'change' this.showSuggestion}} /> 
        <button type="button" class="btn btn-secondary" {{on 'click' this.previewLog}}>Preview</button>
        <br>
        <button type="button" class="btn btn-secondary" {{on 'click' this.uploadLogs}}>Upload</button>
        <button type="button" class="btn btn-secondary" {{on 'click' this.showTraverse}}>Traverse</button>
        <br>

        <label for="separator">Separator</label>

        <select name="separator" id="separator">
            <option value="comma">,</option>
            <option value="space">" "</option>
            <option value="pipeline">|</option>
        </select>

        

        <br>

        <Modal/> <br>

        <select name="logsPerPage" id="logsPerPage-customGrouping" {{on 'change' this.changeNoOfLogs}}>
				<option value="5" selected>5</option>
				<option value="5">10</option>
				<option value="5">25</option>
				<option value="5">50</option>
				<option value="5">100</option>
			</select>

        <button type="button" class="btn" {{on 'click' this.prevPageCustomGrouping}} id="prevBtn">
            <i class="fa fa-angle-left"></i>
        </button>
        <p style="display:inline" id="logsCountTable"></p>
        <button type="button" class="btn" {{on 'click' this.nextPageCustomGrouping}} id="nextBtn">
            <i class="fa fa-angle-right"></i>
        </button>
        
        <table id="matchedLogs" class="table table-hover"></table>


    </div>
</div>

<div id="rules">
    <div id="home1">
        <h1>Rules:</h1> <br>
        <button type="button" class="btn btn-secondary" {{on 'click' this.updateStatus}}>Update status</button>

        <br>
        <p id="ruleNamePreview"></p><p id="regexPreview"></p>

        <br>
        <EditModal/>

        <table id="rulesLists">
            <tr>
                <th>Status</th>
                <th>Rules List</th>
            </tr>

        </table>

        <div id="editDiv">

        </div>
    </div>
</div>